.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    outline: none;
    margin: 0;
    padding: 0;
    flex-grow: 2;

    &::placeholder {
      color: #bcbcbc;
      font-size: 1rem;
    }
  }
}
