.wrapper {
  background: #e07c7c;
  border-radius: 20px;
  padding: 1.125rem 1.25rem;
}

.title {
  color: #ffffff;
  font-size: 1.625rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.doneText {
  color: #ebb9b8;
  font-size: 1rem;
  font-weight: 400;
}
